*{
    margin: 0;
    padding: 0;
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;          
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.tiger-num{
    width: 400px;
    height: 50px;
    margin: 5px;
    font-size: 22px;
}
.tiger-btn{
    margin: 5px;
}
.tiger-btn .btn{
    margin-right: 5px;
}
.wrapper{
    width: 500px;
    margin: 10px auto;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
}
.comment-field{
    display: flex;
    margin-bottom: 15px;
}
.comment-field .comment-field-name {
    -webkit-flex-basis: 100px;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    font-size: 14px;
    display: flex;
}
.comment-field .comment-field-input {
    flex: 1;
}
.comment-field-input input, .comment-field-input textarea {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    font-size: 14px;
    resize: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.comment-field-input textarea {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    font-size: 14px;
    resize: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.comment-field-button{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.comment-field-button button {
    padding: 5px 10px;
    width: 80px;
    border: none;
    border-radius: 3px;
    background-color: #00a3cf;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 50px;
    margin-top: 10px;
    position: relative;
}
.comment .user-name{
    color: #00a3cf;
    margin-right: 10px;
}
.comment:hover .comment-delete {
    color: #00a3cf;
  }

.comment-delete {
    position: absolute;
    right: 0;
    top: 0;
    color: transparent;
    font-size: 12px;
    cursor: pointer;
}
.comment-createdtime {
    padding-right: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
}
.start{
    margin-bottom: 10px;
}
.start span{
    cursor: pointer;
    font-size: 24px;
    margin-left: 5px;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.start-active{
    color: red;
}
.start-normal{
    color: #ccc;
}
